#ana
{
    height:auto;
    width:800px;
    margin-top:5px;
    
}


#dogrulama1
{
    background-color:lightseagreen;
    width:800px;
    height:auto;
    float:left;
    margin-top:15px;
}


#dogrulama2
{
    background-color:tomato;
    width:800px;
    height:auto;
    float:left;
    margin-top:15px;
}


#dogrulama3
{
    background-color:cadetblue;
    width:800px;
    height:auto;
    float:left;
    margin-top:15px;
}